<div class="mdl-grid">
  <a> Hello </a>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--hide-phone mdl-cell--hide-tablet"></div>

  <div class="mdl-cell mdl-cell--6-col mdl-cell--11-col-phone mdl-cell--9-col-tablet ">
    <div style="padding:1%;margin-top:3%;">
      <div class="mdl-card mdl-shadow--6dp" style="width:70%;margin:auto;margin-top:3%;">
        <!-- card title-->
        <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
          <h2 class="mdl-card__title-text">Signup</h2>
        </div>

        <div class="mdl-card__supporting-text" style="overflow: visible;">
          <!-- card content -->
          <form #form="ngForm" novalidate (ngSubmit)="createUser()">

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%;">
              <i class="mdl-textfield__icon  material-icons" style="">person_outline</i>
              <input class="mdl-textfield__input" type="text" id="name" #name="ngModel" requried minlength="5" pattern="[A-Za-z]*" [(ngModel)]="user.name" name="name" (ngModelChange)="user.name = $event" (change)="check()">
              <label class="mdl-textfield__label" for="name">Name</label>
              <div class="mdl-textfield__error">
                <div [hidden]="name.valid || (name.pristine &&  !form.submitted)">
                  Username is required (minimum 5 characters).
                </div>
              </div>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%;">
              <i class="mdl-textfield__icon  material-icons" style="">mail_outline</i>
              <label class="mdl-textfield__label" for="email">Email</label>
              <input class="mdl-textfield__input" type="email" name="email" [ngModel]="user.email" #email="ngModel" requried pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                  (ngModelChange)="user.email = $event" (change)="check()">
              <div class="mdl-textfield__error">
                <div [hidden]="email.valid || (email.pristine && !form.submitted)">
                  Email is required and format should be <i>john@doe.com</i>.
                </div>
              </div>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%;">
              <i class="mdl-textfield__icon  material-icons" style="">phone_iphone</i>
              <label class="mdl-textfield__label" for="phone">Phone</label>
              <input class="mdl-textfield__input" type="text" id="phone" [(ngModel)]="user.phone" name="phone" #phone="ngModel" requried pattern="(7|8|9)\d{9}" (ngModelChange)="user.phone = $event" (change)="check()">
              <div class="mdl-textfield__error">
                <div [hidden]="phone.valid || (phone.pristine && !form.submitted)">
                  Please enter valid Phone Number.
                </div>
              </div>
            </div>

            <table style="width:100%;" border="0" cellspacing="0" cellpadding="0" class="full-width">
              <tr style="width:100%;">
                <td>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100% ! important;;">
                    <i class="mdl-textfield__icon  material-icons" style="">lock_outline</i>
                    <input class="mdl-textfield__input" type="password" id="password" reverse="true" #password="ngModel" requried [(ngModel)]="user.password" name="password" pattern="^(?=.*[0-9])[a-zA-Z0-9!@#$%^&*]{6,100}$" (ngModelChange)="user.password = $event" (change)="check()">
                    <label class="mdl-textfield__label" for="userpass">Password</label>
                    <div class="mdl-textfield__error">
                      <div [hidden]="password.valid || (password.pristine && !form.submitted)">
                        Password must have at least 6 characters,and a number.
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100% ! important;">
                    <i class="mdl-textfield__icon  material-icons" style="margin-left:2%;">security</i>
                    <input class="mdl-textfield__input" type="password" id="confirmPassword" reverse="false" #confirmPassword="ngModel" requried [ngModel]="user.confirmPassword" name="confirmPassword" validateEqual="password" requried autocomplete="off" (ngModelChange)="user.confirmPassword = $event"
                        (change)="check()">
                    <label class="mdl-textfield__label" for="confirmPassword">Confirm Password</label>
                    <div class="custom_error">
                      <div [hidden]="confirmPassword.valid || (confirmPassword.pristine && !form.submitted)">
                        Password mismatch.
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>

            <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label" style="width:100%;">
              <i class="mdl-textfield__icon  material-icons" style="">playlist_add</i>
              <select id="role" class="mdl-selectfield__select" (change)="setRole($event.target.value)">
                          <option disabled></option>
                          <option *ngFor="let p of roles" [value]="p"  >{{p}}</option>
                        </select>
              <label class="mdl-selectfield__label" for="gender">Role</label>
            </div>

            <table style="width:100%;" border="0" cellspacing="0" cellpadding="0" class="full-width" [hidden]="!showBeneficieryField">
              <tr style="width:100%;">
                <td>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100% ! important;">
                    <i class="mdl-textfield__icon  material-icons" style="">credit_card</i>
                    <input class="mdl-textfield__input" type="text" id="accountNumber" #accountNumber="ngModel" [(ngModel)]="user.accountNumber" name="accountNumber" requried (ngModelChange)="user.accountNumber = $event" minlength="5" pattern="[0-9]*" (change)="check()"
                    />
                    <label class="mdl-textfield__label" for="accountNumber">Account #</label>
                    <div class="mdl-textfield__error">
                      <div [hidden]="!accountNumber.valid || (accountNumber.pristine && !form.submitted && accountNumber.touched)">
                        Invalid Account Number
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100% ! important;">
                    <i class="mdl-textfield__icon  material-icons" style="margin-left:2%;">account_balance</i>
                    <input class="mdl-textfield__input" type="text" id="bankName" #bankName="ngModel" pattern="[A-Za-z]*" requried [(ngModel)]="user.bankName" name="bankName" (ngModelChange)="user.bankName = $event" (change)="check()" />
                    <label class="mdl-textfield__label" for="BankName">Bank Name</label>
                    <div class="mdl-textfield__error">
                      <div [hidden]="(!bankName.valid || (bankName.pristine && !form.submitted))">
                        Invalid Bank Name
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>

            <div class="mdl-card__actions">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored " [disabled]="!check() " type="submit">Register</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
